/*
IMPORT FONT ZELDA
*/

@font-face {
	font-family: zelda;
	src: url("./fonts/Zelda.otf");
}

/*
CSS RESET
*/

* {
	margin: 0;
	padding: 0;
}

/*
CORPO DA PÁGINA
*/

body {
	/* https://www.w3schools.com/cssref/func_linear-gradient.asp */
	background-image: url('./media/pattern-triforce-2x.png'),linear-gradient(to bottom, #0a1928 0%, #053335 50%, #023326 100%);
}

/* 
NAV SECTION
*/

#nav-bar {
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	z-index: 5;
	width: 100%;
	background-color: #0a1928;
	flex-wrap: wrap;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.575);
}

.text-nav {
	display: flex;
	color: #F4EFE5;
	font-family: zelda;
	font-weight: 100;
	font-size: 12px;
	align-items: center;
}

.text-nav a {
	text-decoration: none;
	color: #F4EFE5;
}

#triforce-img {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 2rem;
}

/* 
BANNER SECTION
*/

#hero {
	position: relative;
	width: 100%;
	padding-top: 50px;
}

.logo-banner {
	display: flex;
	justify-content: center;
}

.logotipo-zelda {
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 2;
	opacity: 80%;
	top: 25%;
	max-width: 170px;
	max-height: 170px;
	width: auto;
	height: auto;
}

.saiba-mais-button {
	top: 82%;
	position: absolute;
	z-index: 3;
	border: 1px solid #F4EFE5;
	border-radius: 2px;
	background: #F4EFE5;;
	font-family: zelda;
	font-size: 1em;
	opacity: 70%;
	color: #053320;
	width: 100px;
	height: 25px;
}

.saiba-mais-button:hover {
	font-size: 1.1em;
	text-decoration: underline;
	width: 105px;
	height: 28px;
}

/*
FILTER SECTION
*/

#filter-buttons {
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}

#filter-buttons h2 {
	display: flex;
	justify-content: center;
	color: #F4EFE5;
	font-family: zelda;
	font-weight: 100;
	margin-top: 15px;
}

#nav-buttons {
	margin-top: 15px;
	margin-left: 2%;
	margin-right: 2%;
	display: flex;
	align-self: center;
	justify-content: center;
	flex-wrap: wrap;
}

.nav-btn {
	text-decoration: none;
	color: #F4EFE5;
	background-color: #ffffff00;
	border: 0px ;
	font-family: zelda;
	font-size: 1.1em;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-btn:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*
LOADER SECTION
*/

.loader-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
}

.loader-section h3 {
	color: #F4EFE5;
	font-family: zelda;
	font-size: 1.5em;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 20%;
}

.loader {
	animation: is-rotating 1s infinite;
	height: 100px;
	width: 100px;
}

@keyframes is-rotating {
	to {
		transform: rotate(1turn);
	}
}

/* 
CARDS SECTION
*/

#content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	min-height: 500px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	display: flex;
	margin-right: 10px;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin-top: 2%;
	background-color: #0a192872;
	border-radius: 5px;
  border-color: rgba(229,184,54, 0.5);
}

.evidenceCard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: 10px;
	margin-top: 7%;
	margin-bottom: 5%;
	width: 90%;
	background-color: #0a1928d0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.more-content {
	width: 100%;
	margin-top: 2%;
}

.more-content p {
	text-align: start;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.card-img {
	margin-top: 20px;
	width: 150px;
}

.evidenceCard .card-img {
	width: 100px;
	align-self: flex-start;
}

.container {
	display: flex;
	padding: 20px 16px;
	text-align: justify;
	color: whitesmoke;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.container h3 {
	text-align: center;
	color: white;
	font-family: zelda;
	font-size: 1.2rem;
	letter-spacing: 0.5rem;
	text-shadow: -1px 0 rgba(0, 0, 0, 0.726), 0 1px rgba(0, 0, 0, 0.726), 1px 0 rgba(0, 0, 0, 0.726), 0 -1px rgba(0, 0, 0, 0.726);
}

/* 
FOOTER SECTION
*/

footer {
	display: flex;
	background-color: #162329;
	text-align: justify;
	font-size: 12px;
	align-items: center;
	justify-content: center;
	color: #F4EFE5;
	flex-wrap: wrap;
	height: 70px;
	margin-top: 20px;
}

footer p {
	margin: 10px 10px 10px 10px;
}

/* 
MEDIA QUERY
*/

/* TELAS PEQUENAS-MEDIAS */
@media ( min-width: 720px) {
	#triforce-img {
		width: 2.5em;
	}

	.text-nav {
		font-size: 16px;
		margin-left: 300px;
	}

	#nav-bar-container {
		flex-wrap: wrap;
	}

	#nav-bar-container div {
		padding: 0.8rem;
	}

	.hyrule-banner {
		padding-top: 4rem;
	}

	.logotipo-zelda {
		top: 25%;
		max-width: 320px;
		max-height: 320px;
		width: auto;
		height: auto;
	}

	.saiba-mais-button {
		font-size: 1.3em;
		opacity: 70%;
		color: #053320;
		width: 150px;
		height: 40px;
	}
	
	.saiba-mais-button:hover {
		font-size: 1.5em;
		text-decoration: underline;
		width: 160px;
		height: 45px;
	}
	
	#filter-buttons h2 {
		font-size: 1.5em;
	}
	
	.nav-btn {
		font-size: 1.2em;
	}

	.card-img {
		width: 200px;
	}
	
	.card {
		width: 45%;
	}

	.evidenceCard img {
		width: 350px;
	}

	.evidenceCard .container h3 {
		margin-top: 30px;
		font-size: 1.8em;
	}

	.evidenceCard .container p {
		margin-top: 30px;
		font-size: 1.5em;
	}

	.container h3 {
		font-size: 1.5em;
		letter-spacing: 1rem;
	}

	.container p {
		font-size: 1.2em;
	}

	footer {
		margin-top: 500px;
	}
	
	footer p {
		margin: 10px 10px 10px 10px;
	}

/* TELAS MEDIAS */
@media (min-width: 1023px) {
	#triforce-img {
		width: 3.5em;
	}

	.text-nav {
		font-size: 25px;
		margin-left: 450px;
	}

	.logotipo-zelda {
		top: 20%;
		max-width: 500px;
		max-height: 500px;
		width: auto;
		height: auto;
	}

	.saiba-mais-button {
		font-size: 1.3em;
		opacity: 70%;
		color: #053320;
		width: 150px;
		height: 40px;
	}
	
	.saiba-mais-button:hover {
		font-size: 1.5em;
		text-decoration: underline;
		width: 160px;
		height: 45px;
	}

	#filter-buttons h2 {
		margin-top: 50px;
		font-size: 2.2em;
	}
	
	.nav-btn {
		font-size: 1.7em;
	}

	.card-img {
		width: 200px;
	}
	
	.card {
		width: 40%;
	}

	.evidenceCard img {
		width: 500px;
	}

	.evidenceCard .container h3 {
		margin-top: 30px;
		font-size: 2.3em;
	}

	.evidenceCard .container p {
		margin-top: 30px;
		font-size: 2em;
	}

	.container h3 {
		font-size: 1.8em;
		letter-spacing: 1rem;
	}

	.container p {
		font-size: 1.5em;
	}

	footer {
		margin-top: 700px;
	}
	
	footer p {
		text-align: center;
		font-size: 1.5em;
		margin: 10px 10px 10px 10px;
	}
}

/* TELAS GRANDES */
@media (min-width: 1300px) {	
	#triforce-img {
		width: 3.5em;
	}

	.text-nav {
		font-size: 20px;
		margin-left: 450px;
	}

	.saiba-mais-button {
		font-size: 1.3em;
		opacity: 70%;
		color: #053320;
		width: 180px;
		height: 50px;
	}
	
	.saiba-mais-button:hover {
		font-size: 1.8em;
		text-decoration: underline;
		width: 190px;
		height: 55px;
	}
	
	.nav-btn {
		font-size: 2em;
	}

	.card-img {
		width: 250px;
	}
	
	.card {
		width: 25%;
	}

	.evidenceCard img {
		width: 500px;
	}

	.evidenceCard .container h3 {
		margin-top: 30px;
		font-size: 2.3em;
	}

	.evidenceCard .container p {
		margin-top: 30px;
		font-size: 2em;
	}

	.container h3 {
		font-size: 1.6em;
		letter-spacing: 1rem;
	}

	.container p {
		font-size: 1.2em;
	}

	footer {
		margin-top: 20px;
	}
	
	footer p {
		text-align: center;
		font-size: 1.5em;
		margin: 10px 10px 10px 10px;
	}
}

@media (min-width: 1900px) {
	.card-img {
		width: 350px;
	}
	
	.card {
		width: 30%;
	}

	.evidenceCard img {
		width: 500px;
	}

	.evidenceCard .container h3 {
		margin-top: 30px;
		font-size: 2.3em;
	}

	.evidenceCard .container p {
		margin-top: 30px;
		font-size: 2em;
	}

	.container h3 {
		font-size: 2.3em;
		letter-spacing: 1rem;
	}

	.container p {
		font-size: 1.8em;
	}
}
}