* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0e5135;
}

#nav-bar {
	display: flex;
	justify-content: space-around;
	position: fixed;
	z-index: 5;
	width: 100%;
}

#nav-bar-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #0e5135;
	padding: 0.5rem;
	flex-wrap: wrap;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.575);
}

#triforce-img {
	width: 3rem;
	align-self: center;
}

#nav-bar-container div {
	background-color: #0d9263;
	border-radius: 5%;
	border: 2px solid #073824;
	border-radius: 5%;
	padding: 0.8rem;
	min-width: 40px;
	transition: all ease-in-out 0.15s;
	text-align: center;
}

#nav-bar-container div:hover {
	cursor: pointer;
	border: none;
	box-shadow: 2px 2px #d4ce46, -2px -2px #d4ce46;
	color: #053320;
}

#nav-bar-container a {
	justify-content: space-around;
	max-width: 100px;
	text-decoration: none;
	color: #d4ce46;
	font-weight: bolder;
	width: 100%;
}

.hero {
	width: 100%;
}

.hero img {
	width: 100%;
}

.hyrule-banner {
	position: relative;
	padding-top: 4rem;
}

.hyrule-banner h1 {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	font-size: 60px;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	color: #0d9263;
	text-shadow: -2px 0 #0e5135, 0 2px #0e5135, 2px 0 #0e5135, 0 -2px #0e5135;
	box-shadow: 0px 2px #d4ce46;
}

#content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	display: flex;
	margin-right: 10px;
	flex-wrap: wrap;
	justify-content: center;
	width: 30%;
	margin-top: 2%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.card-img {
	width: 200px;
}

.container {
	padding: 20px 16px;
	text-align: justify;
	color: whitesmoke;
}

.container h3 {
	text-align: center;
	color: #d4ce46;
}

@media ( max-width: 900px) {
	#nav-bar-container {
		flex-wrap: nowrap;
	}

	#triforce-img {
		width: 2.5rem;
	}

	#nav-bar-container div {
		padding: 0.5rem;
	}

	.hyrule-banner {
		padding-top: 3rem;
	}

	.hyrule-banner h1 {
		top: 60%;
		font-size: 30px;
		text-shadow: -1px 0 #0e5135, 0 1px #0e5135, 1px 0 #0e5135, 0 -1px #0e5135;
	}

	.card-img {
		width: 100px;
	}
	
	.card {
		width: 80%;
	}
}
